# 3.1 Modèle sous SciKit

## Préparation
  - Importation des librairies
  - Importation du dataset

In [1]:
#Importation des librairies
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle('./Datasets/complete_dataset_with_scaling.pkl')
df

,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,JobRole,MonthlyIncome,NumCompaniesWorked,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,hrs,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,0,Travel_Rarely,Sales,-0.393608,BAC+2,Life Sciences,1,Healthcare Representative,1.404934,-0.678721,...,2.485416,-0.980966,-0.679016,-1.155739,0.001133,Importante,Excellent,Élevé,Très élevé,Satisfaisant
1,1,Travel_Frequently,Research & Development,0.100215,BAC,Life Sciences,1,Research Scientist,-0.491658,-1.079751,...,0.156362,-0.327532,-0.368619,-0.034213,-0.374512,Moyenne,Au delà des attentes,Élevé,Moyen,Excellent
2,0,Travel_Frequently,Research & Development,0.964405,BAC+5,Other,4,Sales Executive,2.724709,-0.678721,...,-0.619989,-0.327532,-0.679016,-0.314594,-0.394701,Importante,Excellent,Moyen,Moyen,Mauvais
3,0,Non-Travel,Research & Development,-0.887430,Doctorat,Life Sciences,3,Human Resources,0.386209,0.123338,...,1.709065,0.162543,1.493766,0.246168,0.423143,Moyenne,Excellent,Très élevé,Très élevé,Très satisfaisant
4,0,Travel_Rarely,Research & Development,0.100215,BAC,Medical,1,Sales Executive,-0.884064,0.524367,...,-0.619989,-0.164174,-0.679016,-0.034213,2.225312,Importante,Excellent,Très élevé,Faible,Très satisfaisant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,0,Travel_Rarely,Sales,-0.640519,BAC+3,Other,2,Human Resources,-0.629754,-0.678721,...,-0.619989,-0.164174,-0.368619,0.246168,0.753301,Moyenne,Excellent,Élevé,Très élevé,Très satisfaisant
4405,0,Travel_Rarely,Research & Development,-0.517063,BAC+5,Medical,1,Research Scientist,-0.100739,0.123338,...,1.709065,-0.654249,-0.679016,-0.594976,-1.065012,Importante,Excellent,Très élevé,Faible,Très satisfaisant
4406,0,Travel_Rarely,Research & Development,-0.887430,BAC+5,Medical,1,Laboratory Technician,-0.812466,-0.277692,...,-0.619989,-0.654249,-0.679016,-0.594976,-0.123943,Moyenne,Excellent,Très élevé,Très élevé,Très satisfaisant
4407,0,Travel_Rarely,Research & Development,1.952050,BAC+2,Life Sciences,2,Sales Executive,-0.595124,-1.079751,...,0.932714,-0.490890,-0.368619,-0.594976,1.407586,Importante,Au delà des attentes,Faible,Élevé,Très satisfaisant
4408,0,Travel_Rarely,Sales,1.087860,BAC+2,Medical,1,Laboratory Technician,-0.872166,-1.079751,...,-0.619989,0.325902,1.493766,1.087313,-0.603172,Moyenne,Excellent,Très élevé,Faible,Très satisfaisant